/* Introduction */

/* Default Styles */

* {
	font-family: 'Trebuchet MS', sans-serif;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/* Header */

.header1 {
	position: relative;
}

.header1::before {
	background-image: url('https://images.pexels.com/photos/1179229/pexels-photo-1179229.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-size: cover;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.25;
}

.navbar-brand {
  padding-top: 25px;
  isolation: isolate;
}

.navbar-brand a { 
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  isolation: isolate;
}

.navbar-brand a:hover {
  text-decoration: none;
  isolation: isolate;
}

/* Drop-Down Menu */

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  isolation: isolate;
}

#nav-list a:hover {
  text-decoration: underline;
  isolation: isolate;
}


/* Jumbotron */

#home-image {
	background-image: url(https://images.pexels.com/photos/247373/pexels-photo-247373.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}

#intro-section {
	margin-top: 30%;
}

.intro-text {
	color: #FFFFFF;
}

#title-text {
	font-size: 4em;
	font-weight: bold;
	color: #FFFFFF;
}

.default-intro-text {
	color: #FFFFFF;
	font-weight: bold;
}

#read-more {
	background-color: #FFFFFF;
	padding: 5px;
	border: 2px solid black;
	border-radius: 20%;
	margin-top: 25px;
}

#read-more:hover {
	text-decoration: none;
}

#read-more > div {
	color: #000000;
	font-size: 2em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: baseline;
	margin: auto;
}

/* Brief Descriptions */

#description {
	position: relative;
}

#description::before {
	background-image: url('https://images.pexels.com/photos/2662116/pexels-photo-2662116.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-size: cover;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.25;
}

#description-title-text {
	font-size: 2em;
	font-weight: bold;
	text-decoration: underline;
	color: #000000;
	margin-bottom: 50px;
	isolation: isolate;
}

.description-text {
	font-size: 1.3em;
	font-style: italic;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	margin-bottom: 25px;
	isolation: isolate;
}

#box-1-title {
	margin-bottom: 25px;
}

#description-image {
	height: 600px;
	border: 2px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
	vertical-align: middle;
	position: relative;
}

.toucan-tile-text {
	position: absolute;
 	bottom: 0;
  	right: 0;
  	width: 100%;
  	text-align: center;
  	font-size: 1.5em;
  	text-transform: uppercase;
  	background-color: #000;
  	color: #fff;
  	opacity: .8;
}

#description-image {
	background-image: url('https://images.pexels.com/photos/11398673/pexels-photo-11398673.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-position: center;
  	background-repeat: no-repeat;
}

#description-image:hover {
	box-shadow: 0 0 10px #000000;
}

/* External Navigational Links */

#categories-tile1, #categories-tile2, #categories-tile3, #categories-tile4 {
	height: 300px;
	border: 2px solid black;
	margin-top: 25px;
	margin-bottom: 25px;
	position: relative;
}

#categories-tile1:hover, #categories-tile2:hover, #categories-tile3:hover, #categories-tile4:hover {
	 box-shadow: 0 0 10px #000000;
}

.categories-text1, .categories-text2, .categories-text3, .categories-text4 {
	position: absolute;
 	bottom: 0;
  	right: 0;
  	width: 100%;
  	text-align: center;
  	font-size: 1.5em;
  	text-transform: uppercase;
  	background-color: #000;
  	color: #fff;
  	opacity: .8;
}

#categories-tile1 {
	background-image: url('https://images.pexels.com/photos/663573/pexels-photo-663573.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-position: center;
  	background-repeat: no-repeat;
}

#categories-tile2 {
	background-image: url('https://images.pexels.com/photos/4666751/pexels-photo-4666751.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-position: center;
  	background-repeat: no-repeat;
}

#categories-tile3 {
	background-image: url('https://images.pexels.com/photos/2313396/pexels-photo-2313396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-position: center;
  	background-repeat: no-repeat;
}

#categories-tile4 {
	background-image: url('https://images.pexels.com/photos/10498906/pexels-photo-10498906.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-position: center;
  	background-repeat: no-repeat;
}

/* Footer */

footer {
	font-weight: bold;
	background-color: #FFF5EE;
	border: 2px solid black;
}

#footer {
	position: relative;
}

#footer::before {
	background-image: url('https://images.pexels.com/photos/2440021/pexels-photo-2440021.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  	background-size: cover;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.25;
}

#contact-info > span {
	font-size: 1em;
}

#socials > span {
	font-size: 1em;
}

#navigational > span {
	font-size: 1em;
}

#policies-conditions > span {
	font-size: 1em;
}

#copyright {
	margin-top: 20px;
	font-size: 1em;
}

#footer-section-title {
	margin-bottom: 20px;
	font-size: 1.5em;
	text-decoration: underline;
}

/* Media Queries */

@media (max-width: 768px) {

	#image {
		height: 1350px;
	}

	.intro-image {
		height: 350px;
	}

	.navbar-brand {
	    padding-top: 10px;
	    height: 80px;
	 }

	.navbar-brand h1 { /* Restaurant name */
	    padding-top: 10px;
	    font-size: 5vw; /* 1vw = 1% of viewport width */
  	}

}

@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 0px;
    height: 80px;
  }

 @media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 0px;
    font-size: 5vw;